{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}
    {% if user.id == profile.user.id  %}
        <section class="bg-light py-5 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header bg-info text-white">
                                <h4>
                                    <i class="fas fa-sign-in-alt"></i>  Your Profile Details
                                </h4>
                            </div>
                            <div class="card-body">
                            <p>{{ user.profile.first_name }}</p>
                            <p>{{ user.profile.last_name }}</p>
                            <p>{{ user.profile.address }}</p>
                            <p>{{ user.profile.City }}</p>
                            <p>{{ user.profile.Country }}</p>
                            <p>{{ user.profile.Photo.url }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% else %}
    <p>You are not authenticated, please login or register</p>
{% endif %}



{% endblock %}