{% extends 'base.html' %}

{% block content %}



<section class="bg-light py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h4>
                            <i class="fa-solid fa-circle-info"></i> Review
                        </h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <ul style="list-style: none;">
                            <li><b>Author:  </b>{{ review.Author }}</li>
                            <li><b>Producy:  </b>{{ review.Product }}</li>
                            <li><b>Rating:  </b>{{ review.rating }}</li>
                            <li><b>Description:  </b>{{ review.description }}</li>
                            <li><b>Date Posted:  </b>{{ review.date_posted }}</li>
                        </ul>
                        <a class="btn btn-secondary " href="{{request.META.HTTP_REFERER|escape}}"> Go Back?</a>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}