{% extends 'base.html' %}

{% block content %}



<section class="bg-light py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h4>
                            <i class="fa-solid fa-circle-info"></i> Product
                        </h4>
                    </div>
                    <div class="card-body">
                            <li>{{ product.name }}</li>
                            <li>{{ product.brand }}</li>
                            <li>{{ product.average_cost }}</li>
                            <li>{{ product.category }}</li>
                            <li>{{ product.date_released }}</li>
                            <li>{{ product.description }}</li>
                            <li>{{ product.photo }}</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h4>
                            <i class="fa-solid fa-comment"></i> Reviews
                        </h4>
                    </div>
                    <div class="card-body">
                            {% if not product.Reviews.all %}
                                <p>No Reviews Yet...</p><a href="{% url 'add_review' product.pk %}">
                                    Add a review?
                                </a>
                            {% else %}
                                {% for review in product.Reviews.all %}
                                    {{ review.Author }}
                                    {{ review.rating }}
                                    {{ review.description }}
                                    {{ review.date_posted }}
                                    <li>
                                        <a class="btn btn-light " href="{% url 'edit_review' review.pk %}"> Edit?</a>
                                        <a class="btn btn-light " href="{% url 'deletereview' review.pk %}"> Delete?</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}