{% extends 'base.html' %}

{% block content %}



<section class="bg-light py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h4>
                            <i class="fa-solid fa-circle-info"></i> Product
                        </h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <ul style="list-style: none;">
                            <li><b>Brand:  </b>{{ product.brand }}</li>
                            <li><b>Price:  </b>{{ product.average_cost }}</li>
                            <li><b>Category:  </b>{{ product.category }}</li>
                            <li><b>Date Released:  </b>{{ product.date_released }}</li>
                            <li><b>Description:  </b>{{ product.description }}</li>
                            <li><b>Image:  </b><img src="{{ product.photo }}" alt=""></li>
                        </ul>
                            
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col mx-auto">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h4>
                            <i class="fa-solid fa-comment"></i> Reviews
                        </h4>
                    </div>

                   

                    <div class="card-body">
                        <a class="btn btn-secondary mt-2 mb-3" href="{% url 'add_review' product.pk %}"> Add Review?</a>
                          
                                    {% for review in product.Reviews.all %}
                                    <div class="border border-secondary mb-4 rounded">
                                        <h5 class="card-title mt-3" style="margin-left: 10px;"> {{ review.Author }}</h5>
                                        <ul style="list-style: none;">
                                            <li><b>Rating:  </b>{{ review.rating }}</li>
                                            <li><b>Comment:  </b>{{ review.description }}</li>
                                            <li><b>Date Posted:  </b>{{ review.date_posted }}</li>
                                        </ul>
                                        {% if user.is_authenticated %}
                                        {%if user.id == review.Author.id %}
                                            <ul style="list-style: none;">
                                                <li>
                                                    <a class="btn btn-light " href="{% url 'detail_review' review.pk %}"> View More Detail?</a>
                                                    <a class="btn btn-light " href="{% url 'edit_review' review.pk %}"> Edit?</a>
                                                    <a class="btn btn-light " href="{% url 'deletereview' review.pk %}"> Delete?</a>
                                                </li>
                                                
                                            </ul>
                                        {% endif %}      
                                    {% endif %}
                                    </div>
                                    
                            

                                        
                                   
                                {% endfor %}
                                
                            
                                
                            
                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}